.ErrorMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(165, 165, 165);
  margin-top: 3rem;

  i {
    font-size: 10rem;
  }

  h3 {
    margin: 2rem 2rem 0 2rem;
  }
}
