@mixin desktop {
  @media (min-width: #{47.99rem}) {
    @content;
  }
}

.MadeBy {
  position: absolute;
  top: 2vh;
  margin-right: 3rem;
  width: 100%;
  text-align: end;

  a {
    color: #f3f3f3;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: color 300ms ease-out;

    @include desktop {
      font-size: 1.3rem;
    }

    &:hover {
      color: #26f3fa80;
    }
  }
}
