.WeatherForm {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type=text] {
    background-color: rgba(255, 255, 255, 0.315);
    height: 2.5rem;
    width: 12rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    transition: background-color 600ms ease;

    &:focus:required:invalid {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &:required:valid {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  button {
    height: 2.5rem;
    border: none;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-family: inherit;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    background-size: 300% 100%;
    background-image: linear-gradient(
      to right,
      rgba(62, 5, 116, 1) 0%,
      rgba(216, 68, 148, 1) 50%,
      rgba(62, 5, 116, 1) 100%
    );
    transition: 500ms;

    &:hover {
      background-position: right center;
    }
  }
}
