.WeatherApp {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22rem;
    color: white;
    background-image: url('https://source.unsplash.com/DZ975EkUJH0');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

    h1 {
      font-size: 3.3rem;
      text-align: center;
      margin-top: 0.5rem;
    }
  }
}
