@mixin desktop {
  @media (min-width: #{47.99rem}) {
    @content;
  }
}

.WeatherForm {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin: 2rem 0 1rem 0;
  }

  input[type=text] {
    background-color: rgba(255, 255, 255, 0.315);
    height: 2.8rem;
    width: 12rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    transition: background-color 600ms ease;

    @include desktop {
      height: 3.5rem;
      width: 20rem;
      font-size: 1.5rem;
    }
    &:required {
      box-shadow: none;
    }
    &:invalid {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0);
    }
    &:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.7);
    }
    &::placeholder {
      color: rgb(59, 59, 59);
      opacity: 1;
    }
    &:focus:required:invalid {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &:required:valid {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  button {
    height: 2.8rem;
    border: none;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: 900;
    background-size: 300% 100%;
    background-image: linear-gradient(
      to right,
      rgba(62, 5, 116, 1) 0%,
      rgba(216, 68, 148, 1) 50%,
      rgba(62, 5, 116, 1) 100%
    );
    transition: 500ms;

    @include desktop {
      height: 3.5rem;
      font-size: 1.5rem;
      padding: 0 1.5rem;
    }

    &:hover {
      background-position: right center;
    }
  }
}
